<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

  <div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Cadastrar o Produto</h1>
        </div>
        <div class="card-body">
            <form action="/produtos/cadastrar" method="POST">
                        <label>Nome do Produto:</label>
                        <input type="text" name="nome" placeholder="Insira o nome do produto" class="form-control" required>

                         <label>Preço do Produto:</label>
                        <input type="text" name="preco" placeholder="Insira o preço do produto" class="form-control" required>

                         <label>Categoria do Produto:</label>
                        <input type="text" name="categoria" placeholder="Insira a categoria do produto" class="form-control" required>
                    <br>
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                    <button type="reset" class="btn btn-danger">Limpar</button>
                    </form>
                    <hr>
        </div>
    </div>
  </div>


<div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Produtos</h1>
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nome:</th>
                            <th>Preço:</th>
                            <th>Categoria:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% produtos.forEach(produto => { %>
                        <tr>
                            <td><img src="imgs/product.png" width="30px"></td>
                            <td><%= produto.nome %></td>
                            <td><%= produto.preco.toLocaleString('pt-br', {style: 'currency', currency: 'BRL'}) %></td>
                            <td><%= produto.categoria %></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<%- include ('partials/footer.ejs') %>
